/* General Styles */

html {
  font-family: 'Arial', sans-serif;
  font-size: 10pt;
}

body {
  background-color: #CAE1FF;
  color: #333;
}

/* Title and Logo Container */
.title-container {
  display: flex;
  align-items: center;
  gap: 15px; /* Space between logo and title */
  padding: 10px;
}

/* Logo Styling */
.logo {
  height: 60px; /* Adjust size as needed */
  width: auto;
}

/* Card Styling */
.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-header {
  font-size: 14pt;
  font-weight: bold;
  color: #333;
  background-color: #e9ecef;
  padding: 5px;
  border-radius: 10px 10px 0 0;
  border-bottom: none;
  width: 100%;
}

.card-body {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  flex-direction: column;
}

#about_card .card-body {
  font-size: 9pt !important;
  text-align: left !important;
}



/* Leaflet Map Styling */
.leaflet-container {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Gauges and Outputs */
.text-output {
  font-size: 16pt;
  font-weight: bold;
  color: #555;
  margin-top: 10px;
}

#sry_recorded, #sfj_recorded {
  font-size: 12pt;
}

/* Navbar Styling */
.navbar {
  background-color: #007BFF !important;
  border-bottom: 3px solid #0056b3;
}

.navbar-brand, .navbar-nav .nav-link {
  color: white !important;
  font-weight: bold;
}
